<!DOCTYPE html>
<html>
<head>
    <title>Self Terview</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css"/>
</head>
<body>

<h1>예상 질문들을 입력해주세요.</h1>
<h1>각각의 질문들은 엔터로 구분합니다.</h1>
<form method="GET" action="interview.html">
    <textarea type="text" rows="10" cols="60" name="question"
              placeholder="예상 질문들을 입력해주세요. 각각의 질문들은 엔터로 구분합니다.&#13;&#10;예시) &#13;&#10;자기 소개를 해주세요. &#13;&#10;본인의 강점에 대해 설명해주세요."></textarea>
    <input type="submit" value="완료">
</form>
<script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>

</body>
</html>